@import "TitleBarStyle.css";
@import "SharedStyle.css";

.groupBox {
    -fx-background-color: linear-gradient(to bottom right, -group-transluscent, -group-secondary);
    -fx-background-radius: 12px;
}
/* Buttons turn green when hovered on */
.button:hover {
    -fx-background-color: -group-secondary;
    -fx-border-color: -group-primary;
    -fx-text-fill: -group-highlight;
}